<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kristen's Glam Hub</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="title">
      <div class="overlay">
        <h1 class="slide-up-down">KRISTEN'S &nbsp;&nbsp; GLAM &nbsp;&nbsp; HUB</h1>

        <div class="promo-box">
          <p>Providing NewYork's top Beauty and Makeup Services and Eye Lashes Extensions</p>
          <p>Don't miss a chance to experience the ultimate beauty transformation. Our expert team is ready to help you shine!</p>
        </div>
        
        <h2>Book your Appointment Now!</h2>
        <hr><hr><hr><hr><hr><hr>
        <button onclick="window.location.href='/booknow'" class="booknow">Book Now</button>
    </div>
    </div>
    <script src="../public/js/script.js"></script>
  </body>
</html>
